.Login_container {
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 150px;
  }
  .Login_details {
    background-color: #fff;
    margin: 20px auto;
    text-align: center;
    width: 510px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(6, 5, 6, 10);
    font-size: 18px;
    color: #333;
    height: 500px;
  }